$menu-bg: #333;
$menu-color: #fff;
$menu-font-size: 14px;

.menio {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1;
  background-color: $menu-bg;

  &, * {
    box-sizing: border-box;
  }
}

.menu {
  display: flex;
  flex-flow: row-wrap;

  &, ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: $menu-bg;
  }

  &-toggle {
    display: none;
    border: 0;
    padding: 8px 15px;
    width: 100%;
    font-size: $menu-font-size;
    line-height: 1;
    text-align: left;
    appearance: none;
    background: none;
    color: $menu-color;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &--visible {
      display: block;
    }
  }

  &__link {
    padding: 8px 15px;
    font-size: $menu-font-size;
    text-decoration: none;
    color: $menu-color;
  }

  &--horizontal {
    .menu__link {
      display: inline-block;
    }
  }

  &--vertical {
    display: none;
    flex-flow: column;

    &.menu--visible {
      display: flex;
    }

    .menu-toggle {
      display: block;
    }

    .menu__link {
      display: block;
    }
  }
}

.submenu {
  display: none;

  &-toggle {
    display: none;
  }
}