$menu-bg: #333;
$menu-color: #fff;
$menu-font-size: 14px;

.menio {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1;
  background-color: $menu-bg;

  &, ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  > li {
  	display: block;
  }

  a {
    display: block;
    padding: 8px 15px;
    font-size: $menu-font-size;
    text-decoration: none;
    color: $menu-color;
  }
}